.page
{

border: solid darkblue;
font-family: verdana;
font-size: 16px;
border-radius: 10px;
box-shadow: 2px blueviolet;
width: 780px;
height: 1360px;
margin: auto;




}


.infos
{
border-radius: 2px;
border: 5px solid darkcyan;
float: left;




}

.photos
{
float: right;
height: 3px;




}

.entete
{

padding: 12px;
border-radius: 2px;
border: 5px solid darkred;
height:150px ;
width:713px ;
margin: auto;

}


.section
{
width: 670px;
height: 300px;
border: 2px solid darkgoldenrod;
margin: auto;
padding: 12px;
float: left;



}

.section1
{

padding: 12px;
border-radius: 2px;
border: 5px solid darkgray;
height:326px ;
width:713px ;
margin: auto;

}

.section2
{

padding: 12px;
border-radius: 2px;
border: 5px solid darkgreen;
height:166px ;
width:713px ;
margin: auto;
}

.section3

{
padding: 12px;
border-radius: 2px;
border: 5px solid darkgoldenrod;
height:200px ;
width:713px ;
margin: auto;

}

.section4
{

padding: 12px;
border-radius: 2px;
border: 5px solid pink;
height:200px ;
width:713px ;
margin: auto;

}