.page
{

border: solid darkblue;
font-family: verdana;
font-size: 16px;
border-radius: 10px;
box-shadow: 2px blueviolet;
width: 780px;
height: 1500px;
margin: auto;




}


.infos
{
border-radius: 2px;
border: 5px solid darkcyan;
float: left;}

.entete
{

padding: 12px;
border-radius: 2px;
border: 2px solid darkred;
height:150px ;
width:713px ;
margin: auto;

}

}

.photos
{
float: right;
height: 3px;
width: 6px;
}

.section
{
width: 180px;
height: 300px;
border: 2px solid darkgoldenrod;
margin: auto;
padding: 12px;
float: left;



}

.section1
{

padding: 12px;
border-radius: 2px;
border: 5px solid darkgray;
height:326px ;
width:713px ;
margin: auto;

}